* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
#app {
	height: 100%;
}
.header, .footer {
	height: 40px;
	background-color: black;
}
.header {
	border-bottom: 1px solid silver;
}
.wrapper { 
	background-color: beige;	
}
.messages-input {	
	text-align: center;	
}
.content, .sidebar {
	display: inline-block;
}
.content {
	width: calc(100% - 220px);
}
.sidebar {
	width: 220px;
	float: right;	
}
.menu {
	position: relative;
	padding-right: 15px;
	top: 50%;
	transform: translateY(-50%);
	float: right;
}
.menu a {
	position: relative;
	padding-right: 1.25em;
	color: white;
	font-size: 20px;
	font-family: "Helvetica", Arial, sans-serif;
}
.menu a:after {
	content: "";
	position: absolute;
	right: 0;
	top: 0.25em;
	width: 1em;
	height: 0.15em;
	background: white;
	box-shadow: 
	  0 0.25em 0 0 white,
	  0 0.5em 0 0 white;
}
.users {
	background-color: gray;	
}
.messages {
	overflow: auto;
}
.message-item > div {
    display: inline-block;
    font-family: verdana;
    font-size: 16px;
    margin: 5px;
}
.message-author {
    color: gray;
    font-weight: 600;
}
.message-time {
    color: darkblue;
    font-weight: 600;
}
.message-text {
    color: black;
    padding: 5px;
    background-color: #B2FFAE;
	border-radius: 8px;
	word-break: keep-all;
}
.input-box textarea {
	width: 100%;
	height: 120px;
	border: 1px solid gainsboro;
	resize: none;
}