* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
#app {
	height: 100%;
}
.header, .footer {
	background-color: #48D388;
	height: 40px;
}
.wrapper {	
	background-color: beige;	
}
.messages-input {	
	text-align: center;	
}
.content, .sidebar {
	display: inline-block;
}
.content {
	width: calc(100% - 220px);
}
.sidebar {
	width: 220px;
	float: right;	
}
.sidebar-menu {
	background-color: #68FF61;
	height: 50px;
}
.sidebar-users {
	background-color: #E8F5E2;	
}
.messages {
	overflow: auto;
}